body {
  background-color: black;
  color: white;
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  margin: 0;
}

.container {
  width: 50%;
  margin-left: 25%;
  margin-top: 50px;
}

imagex.jpg {
  width: 100%;
  border: 5px solid white;
}

h1 {
  text-transform: uppercase;
  margin-top: 20px;
}

p {
  margin-top: 10px;
}
